*{
    margin: 0;
    padding: 0;
}

/*2019-08-26 수정:S*/
header{
    width: 100%;
    height: 70px;
    background: #000;
}
.header_wrap{
    width: 85%;
    height: 70px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

header h1.logo{
/*    float: left;*/
    width: 11%;
    margin-top: 15px;
}
header h1.logo img{
    width: 160px;
}

.left_nav{
/*
    position: absolute;
    left: 50%;
*/
    width: 50%;
/*    margin-left: -20%;*/
}
.left_nav ul{
    display: flex;
    justify-content: space-between;
}
.left_nav ul li{
    width: 33.333%;
    text-align: center;
/*    float: left;*/
    line-height: 70px;
    font-size: 18px;
    font-weight: bold;
}
.left_nav ul li a{
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}
/*2019-08-26 수정:E*/

.select_lang{
/*    float: right;*/
    width: 10%;
    text-align: center;
    color: #fff;
    line-height: 70px;
    cursor: pointer;
    display: table;
}
.select_lang img{
    vertical-align: middle;
}
.lang_list{
    position: absolute;
    z-index: 999;
    width: 190px;
    height: 175px;
    top: 70px;
    right: 2%;
    background: rgba(255,255,255,0.9);
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    color: #222;
    overflow-y: scroll;
}
.lang_list ul{
    width: 100%;
    height: 100%;
}
.lang_list ul li{
    margin-bottom: 10px;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    display: flex;
    justify-content: space-around;
}
.lang_list ul li:nth-of-type(15){
    margin-bottom: 0;
}
.lang_list ul li span{
    flex: 3;
}
.lang_list ul li b{
    flex: 7;
}
.lang_list ul li img{
    width: 35px;
    vertical-align: middle;
}

/*2019-08-26 수정:S*/
.my_point{
/*    float: right;*/
    width: 30%;
/*    height: 100%;*/
    margin-top: 15px;
/*    position: relative;*/
}
.my_point > ul{
    display: flex;
    justify-content: space-around;
}
.my_point ul li{
/*    float: left;*/
    color: #fff;
/*    width: 33.33%;*/
    border: 1px solid #fff;
/*    margin-left: 5px;*/
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2px 5px;
}
.logOut{
    padding: 0 !important;
}
.my_point ul li a{
    color: #fff;
}
.my_point ul li p{}
.my_point ul li p:nth-of-type(1){
    font-size: 11px;
}
.my_point ul li p:nth-of-type(2){
    font-weight: bold;
}
.my_point ul li.logOut{
    border: none;
    display:flex;
}
.my_point ul li.logOut button{
    background: none;
    border: none;
    font-weight: bold;
}
/*2019-08-26 수정:E*/

@media screen and (min-width: 1280px) and (max-width: 1599px){
    /*2019-08-26 수정:S*/
    .header_wrap {
        width: 95%;
    }
    .left_nav{
        width: 40%;
    }
    .lang_list {
        top: 60px;
        right: 2%;
    }
    .my_point{
        width: 33%;
        font-size: 13px;
    }
    /*2019-08-26 수정:E*/
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    /*2019-08-26 수정:S*/
    .header_wrap{
        width: 98%;
    }
    header h1.logo img{
        width: 100px;
        margin-top: 6px;
    }
    .select_lang{
        width: 15%;
        font-size: 13px;
    }
    .select_lang img{
        width: 35px;
    }
    .lang_list {
        top: 60px;
        right: 4%;
    }
    .left_nav{
        width: 40%;
    }
    .left_nav ul li{
        font-size: 14px;
        line-height: 70px;
    }
    .my_point{
        width: 40%;
        margin-left: 20px;
    }
    .my_point ul li p:nth-of-type(2){
        font-weight: normal;
        font-size: 12px;
    }
    /*2019-08-26 수정:E*/
}
@media screen and (min-width: 780px) and (max-width: 1023px){
    /*2019-08-26 수정:S*/
    header{
        height: 120px;
    }
    .header_wrap{
        width: 98%;
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    header h1.logo img{
        width: 90px;
        margin-top: 10px;
    }
    .left_nav{
        width: 80%;
    }
    .left_nav ul li{
        font-size: 15px;
        line-height: 70px;
    }
    .select_lang{
        width: 25%;
        line-height: 35px;
    }
    .select_lang{font-size: 14px;}
    .select_lang img{
        width: 40px;
    }
    .lang_list {
        top: 120px;
        right: 12%;
    }
    .my_point{
        margin-top: 0px;
        width: 50%;
        font-size: 12px;
        height: 50px;
    }
    /*2019-08-26 수정:E*/
}
@media screen and (min-width: 640px) and (max-width: 779px){
    /*2019-08-26 수정:S*/
    header{
        height: 120px;
    }
    .header_wrap{
        width: 98%;
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    header h1.logo img{
        width: 90px;
        margin-top: 10px;
    }
    .left_nav{
        width: 80%;
    }
    .left_nav ul li{
        font-size: 15px;
        line-height: 70px;
    }
    .select_lang{
        width: 25%;
        line-height: 35px;
    }
    .select_lang{font-size: 13px;}
    .select_lang img{
        width: 35px;
    }
    .lang_list {
        top: 120px;
        right: 10%;
    }
    .my_point{
        margin-top: 0px;
        width: 60%;
        font-size: 12px;
        height: 50px;
    }
    /*2019-08-26 수정:E*/
}
@media screen and (min-width: 480px) and (max-width: 639px){
    /*2019-08-26 수정:S*/
    header{
        height: 120px;
    }
    .header_wrap{
        width: 98%;
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    header h1.logo img{
        width: 90px;
        margin-top: 10px;
    }
    .left_nav{
        width: 80%;
    }
    .left_nav ul li{
        font-size: 15px;
        line-height: 70px;
    }
    .select_lang{
        width: 25%;
        line-height: 35px;
    }
    .select_lang{font-size: 13px;}
    .select_lang img{
        width: 35px;
    }
    .lang_list {
        top: 120px;
        right: 3%;
    }
    .my_point{
        margin-top: 0px;
        width: 75%;
        font-size: 11px;
        height: 50px;
    }
    .my_point ul li.logOut button {
        font-size: 12px;
    }
    /*2019-08-26 수정:E*/
}
@media screen and (max-width: 479px){
    /*2019-08-26 수정:S*/
    header{
        height: 160px;
    }
    .header_wrap{
        width: 98%;
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    header h1.logo {
        width: 100%;
        margin-top: 5px;
        text-align: center;
    }
    header h1.logo img{
        width: 100px;
        margin-top: 0px;
    }
    .left_nav{
        width: 100%;
    }
    .left_nav ul li{
        font-size: 15px;
        line-height: 70px;
    }
    .select_lang{
        width: 18%;
        line-height: 35px;
    }
    .select_lang{font-size: 12px;}
    .select_lang img{
        width: 25px;
    }
    .lang_list {
        top: 160px;
        right: 3%;
    }
    .my_point{
        margin-top: 0px;
        width: 82%;
        font-size: 11px;
        height: 50px;
    }
    .my_point ul li.logOut button {
        font-size: 12px;
    }
    /*2019-08-26 수정:E*/
}
